<nb-layout-column>
      	<nb-card-body center>
      		<form>
        <div class="input-group input-group-rounded input-group-lg">
          <input type="text" placeholder="First Name" class="form-control"/>
        </div>
        
          <div class="input-group input-group-rounded input-group-lg">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        
        <div class="input-group input-group-rounded input-group-lg">
          <input type="Email" placeholder="Email address" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded input-group-lg">
          <input type="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded input-group-lg">
          <input type="password" placeholder="Password confirmation" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Cancel</button>
        <button type="submit" class="btn btn-primary"> Enter 
        	
        </button>
       </form>
      </nb-card-body>
</nb-layout-column>