

   	<nb-layout>
      <nb-layout-header fixed>Company Name</nb-layout-header>

      <nb-sidebar right >Sidebar Content</nb-sidebar>

      <nb-layout-column>
      	<nb-card-body>
      		<form>
        <div class="input-group input-group-rounded input-group-lg">
          <input type="text" placeholder="First Name" class="form-control"/>
        </div>
        
          <div class="input-group input-group-rounded input-group-lg">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        
        <div class="input-group input-group-rounded input-group-lg">
          <input type="Email" placeholder="Email address" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded input-group-lg">
          <input type="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded input-group-lg">
          <input type="password" placeholder="Password confirmation" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Cancel</button>
        <button type="submit" class="btn btn-primary"> Enter
        	
        </button>
       </form>
      </nb-card-body>
</nb-layout-column>
     	     
    </nb-layout>

